<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>AdminUsers</servlet-name>
        <servlet-class>servlets.AdminUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllPersons</servlet-name>
        <servlet-class>servlets.GetAllPersons</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOfPersons</servlet-name>
        <servlet-class>servlets.ListOfPersons</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>connectdb</servlet-name>
        <servlet-class>astirotaghandlers.connectdb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUsersRoles</servlet-name>
        <servlet-class>servlets.AdminUsersRoles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>servlets.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>servlets.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateAccount</servlet-name>
        <servlet-class>servlets.ActivateAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminUsers</servlet-name>
        <url-pattern>/AdminUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllPersons</servlet-name>
        <url-pattern>/GetAllPersons</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOfPersons</servlet-name>
        <url-pattern>/ListOfPersons</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>connectdb</servlet-name>
        <url-pattern>/connectdb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUsersRoles</servlet-name>
        <url-pattern>/AdminUsersRoles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateAccount</servlet-name>
        <url-pattern>/ActivateAccount</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
